@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './wave.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans TC', sans-serif;
}

.banner {
  @apply bg-[url('@/assets/images/banner/banner-wave.svg')];
  @apply bg-no-repeat bg-center bg-cover;
  @apply aspect-[192/100] w-full max-w-[1920px] mx-auto;
  padding-bottom: 10%;
}
.banner-wrap {
  @apply max-w-[1200px] mx-auto w-full;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.carousel {
  > div {
    overflow: hidden;
  }
  #new1:checked ~ ul {
    transform: translateX(0%);
  }
  #new2:checked ~ ul {
    transform: translateX(-33.333%);
  }
  #new3:checked ~ ul {
    transform: translateX(-66.666%);
  }
  ul {
    list-style: none;
    display: flex;
    width: 300%;
    flex-wrap: nowrap;
    will-change: transform;
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
    li {
      width: 33.333%;
      padding: 0 16px;
    }
  }
  #new1:checked ~ .labels label:nth-of-type(1) {
    background: #1D3260;
  }
  #new2:checked ~ .labels label:nth-of-type(2) {
    background: #1D3260;
  }
  #new3:checked ~ .labels label:nth-of-type(3) {
    background: #1D3260;
  }
  label {
    cursor: pointer;
    display: inline-block;
    background: #D9D9D9;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    &:nth-child(2) {
      margin: 0 16px;
    }
  }
}