@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './wave.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans TC', sans-serif;
}

.banner {
  @apply bg-[url('@/assets/images/banner/banner-wave.svg')];
  @apply bg-no-repeat bg-center bg-cover;
  @apply aspect-[192/100] w-full max-w-[1920px] mx-auto;
  padding-bottom: 10%;
}
.banner-wrap {
  @apply max-w-[1200px] mx-auto w-full;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.carousel {
  > div {
    overflow: hidden;
    max-width: 568px;
    margin: 0 auto;
  }
}